/*full site formating */
#container {
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    
}
#630AboutMe {
  display:flex;
  align-items: flex-start;
}
#amPic {
  width: 20vw;
  height: 20vw;
  margin-right: 20px;
  background-image: url('images/lesleyHeadshot.jpg');
  background-size: cover; /* This ensures the image covers the entire div */
    background-position: center; /* This centers the image in the div */
    float: left;
}
#aboutMe {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
hr {
  color: rgb(29, 107, 199);
}
section {
  width: 90%;
  margin-left: 5%;
  font-size: 18pt;
}
h1 {
  text-align: center;
}

/* header */
#imagecontainer {
    position: relative;
    text-align: center;
    color: white;
}
.headertext {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22pt;
  color:crimson;
}
#navbar {
   display: flex;
    background-color: whitesmoke;
    
}
ul {
   width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
li a {
      float: left;
      display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    
}


.navlink {
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 18pt;
    letter-spacing: 0.2em;
    color: rgb(29, 107, 199);
}

/* footer */
footer {
  position: relative;
  height: 60px;
  background-color: rgb(29, 107, 199);
  color: white;
}
#copyright {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12pt;
}

/* social media links */
.socialheader {
    display: flex;
    justify-content: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
 .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: black;
    color: white;
  }
  .fa-envelope-o {
    background: #d63297;
    color: white;
  }
  #projectblocks {
    box-sizing: border-box;
  }
  
  /*projects page */
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
    color: black;
    
  }
 
  .column p {
      font-size: 16px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .projectimage {
      width: 100%;
  }
  .project-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
  .project-title:hover {
      font-weight: 900;
  }
  /* phone formating */
  @media (min-width: 1000px){
    .column{
    float: left;
    width: 31%;
    padding: 10px;
    position: relative;
    text-align: center;
   
    }
    .headertext {
      font-size: 42pt;
      top: 40%;
      transform: translate(-50%, -50%);
    }
    
  }
  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
/*  */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}